.bundle
.project
db/*.sqlite3
log/*.log
tmp/**/*
config/database.yml
.livereload
config/amazon_s3.yml
.DS_Store
.rvmrc
config/facebook.yml
public/packages/
*.swp
vendor/ruby
development/
log/*
coverage
config/config.yml
.idea
vendor/ruby
public/cache
public/assets
