<h1>Congratulations! You have successfully completed your part of the application!</h1>

<p>Please remember, in order to meet the different deadlines, you need all your references submitted by the deadline date.</p>

<p>You can check the status of each of these references on your application home page. Simply log back in to your application with your username and password.</p>

<p><br/><%= link_to('Click here to return to your application status page.', application_path(@application), :class => 'successreturn') %></p>