<h1>Congratulations! You have successfully completed your part of the application!</h1>

<p>Thanks for your faithfulness in finishing this step. </p>

<p>Please remember, in order to meet the different deadlines, you need all your references submitted by the deadline date.</p>

<p>You can check the status of each of these references on your application home page. Simply log back in to your application with your username and password.</p>

<p>We look forward to trusting God alongside of you the rest of this process. </p>

<p><br/><%= link_to('Click here to go to your application status page.', application_path(@application), :class => 'successreturn') %></p>