<h1>Congratulations! You have successfully completed your part of the application!</h1>

<p>Thanks for your faithfulness in finishing this step. </p>

<p>Please remember, in order to meet the different deadlines, you need all your references submitted by the deadline date.</p>

<p>You can check the status of each of these references on your application status page. Simply return to gosummerproject.com and click the My Application Status in upper right hand corner.</p>

<p>We look forward to trusting God alongside of you the rest of this process. </p>

<p><br/><%= link_to('Click here to go to your application status page.', application_path(@application), :class => 'successreturn') %></p>

<a title="Share on Facebook"
href="http://www.facebook.com/sharer.php?u=http://www.gosummerproject.com/">
<img src="http://static.ak.fbcdn.net/rsrc.php/yH/r/HyVVl7COqlF.gif"
alt="Share on Facebook" border="0"></a>
