<div class="page">
  <h1><%= page.label %></h1>
  <ul class="questions readonly">
    <%= render :partial => 'answer_sheets/element', :collection => page.elements, :locals => {:elements => page.elements, :answer_sheet => @answer_sheet} %>
  </ul>
</div>
<% if @next_page %>
  <div class="actionwrap">
    <%= link_to 'Next', page_admin_evaluation_path(application_id: @application.id, id: @evaluation, page_id: @next_page.id), remote: true, class: 'evaluation_page_link' %>
  </div>
<% else %>
  <div class="actionwrap">
    <%= link_to("Next", references_admin_evaluation_path(@evaluation), :remote => true, :class => 'evaluation_page_link') %>
  </div>
<% end %>
