<div id="evaluation">

  <%= render :partial => 'left_side' %>
  
  
  <div id="evalcontent">
    <%= render 'evaluation_summary' %>
  </div><!-- evalcontent -->
  <div class="clear"></div>
</div><!-- evaluation -->