body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: Arial, Helvetica, Verdana;
  background: #ffffff;
  color: #412d17;
}
a {
  text-decoration: none;
  outline: none;
  color: #b47732;
}
img {
  border: none;
  vertical-align: middle;
}
h3 { margin: 0; }
#outer { background: #ffffff; }
#header {
  background: url('/images/frontend/header.png') no-repeat 50% 50%;
  width: 688px;
  height: 91px;
}
#body {
  background: url('/images/frontend/busbg.jpg') no-repeat 50% 50%;
  width: 688px;
  height: auto;
  border-top: 1px solid #ffffff;
  padding-bottom: 100px;
}
.content {
  width: 75%;
  margin: 0 auto;
  margin-top: 100px;
  background: url('/images/frontend/bg.png');
  -moz-box-shadow: 0px 0px 3px #000000;
  -webkit-box-shadow: 0px 0px 3px #000000;
  box-shadow: 0px 0px 3px #000000;
  padding: 20px 0;
}
.content h3 {
  padding-left: 20px;
  padding-right: 20px;
}
.content p {
  padding-left: 20px;
  padding-right: 20px;
}
div#outer {
  width: 688px;
  margin: 50px auto;
}
ul.contacts {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.contacts li {
  margin: 10px 0 10px 30px;
  padding-left: 0px;
  text-indent: 30px;
}
ul.contacts li.mail { background: url("/images/frontend/mail.png") no-repeat 0 50%; }
ul.contacts li.phone { background: url("/images/frontend/phone.png") no-repeat 0 50%; }
#footer {
  font-size: 11px;
  padding: 10px 10px;
}
