body, ul, li, div, td {
  font-family: Arial;
  font-size: 12px;
}

h1, h2, h3, h4, h5 {
  color: #555
}

h1 {
  font-size: 1.5em;
}

.page {
  border-bottom: 3px solid gray;
}

label b {
  display: block;
}

span.answer {
  font-weight: bold;
}

label.desc {
  font-weight: normal;
}

.col1 {
/*  font-weight: bold;*/
  width: 175px;
}

td span.answer {display:block;}

table {
  padding: 0;
  margin: 0;
}

td {
  vertical-align: top;
  padding: 2px 5px 2px 0px;
}

ul {
  padding: 0px 0px 0px 0em;
  list-style: none;
}

li {
  margin: 5px 0;
  padding: 5px 0;
  border-bottom: 1px dotted silver;
}

ul.questions li {
 padding-left: 20px;
 background: url(/images/printbullet.png) no-repeat -5px 2px;
}