body {
  background-color: #efefef;
}

#global {
  background:none repeat scroll 0 0 #FFFFFF;
  margin-bottom: 25px;
  border-top: 1px solid #fff;
}

.pagewidth {
  margin:0 auto;
  max-width:1000px;
  min-width:960px;
}

#global #menu {
  float: left;
  height:60px;
  list-style:none outside none;
  margin:0;
  padding:0;
}

#global #menu li {
  float:left;
  line-height:60px;
}

#global #menu li a:hover {
  color: #efefef;
  background: #0b486b;
}

#global #menu li a.selected {
  background:none repeat scroll 0 0 #0B486B;
  color:#EFEFEF;
}

#global #menu li a {
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  border-radius:5px 5px 5px 5px;
  background:none repeat scroll 0 0 #EFEFEF;
  color:#0B486B;
  font-size:14px;
  font-weight:bold;
  margin:8px;
  padding:9px 12px;
}

#global #menuright {
  width: 500px;
  height: 60px;
  margin: 0;
  list-style: none;
  padding: 0;
}

#global #menuright li {
  float: left;
  line-height: 60px;
}

#global #menuright li a {
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  border-radius:5px 5px 5px 5px;
  color: #0b486b;
  padding: 9px 12px;
  margin: 8px;
  font-size: 14px;
  font-weight: bold;
}

#global #menuright li a:hover {
  color: #efefef;
  background: #0b486b;
}

#global #menuright {
  width: auto;
  float: right;
}

#global #menuright li a { 
  background: none; 
}

#header {
  display: none;
}

#preview {
  background: #fff;  
}

#main #content {
  background:none repeat scroll 0 0 #FFFFFF;
  border-color:#0B486B #4D4D4D #4D4D4D;
  border-right:1px solid #4D4D4D;
  border-style:solid;
  border-width:4px 1px 1px;
  background: #fff;
  padding: 15px;
}

.unarchive {
  background:url("/images/icons/briefcase--arrow.png") no-repeat scroll 0 50% transparent;
}

label.choice {
  margin-left:25px;
}

.radio {
  float: left;
}

div.tooltip {
  -moz-box-shadow:0 0 9px #555555;
  background:none repeat scroll 0 0 #0B486B;
  border:3px solid #FFFFFF;
  color:#FFFFFF;
  display:none;
  font-size:12px;
  max-width:300px;
  padding:10px;
  width: auto;
}