#headwrap,
#footerwrap {
  width: 1000px;
  margin: 0 auto;
  padding: 0;
}

#header {
  padding: 0;
  border: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: none;
  margin-top: 20px;
  border-bottom: 3px solid #000;
}

#preview {
  border-color: #421f07;
  min-height: 500px;
}

#list-pages li.active a {
  border-color: #421f07;
}

a {
  color: #a23910;
}

#footer table {
  width: 100%;
}

#footer table td.left {
  text-align: left;
}

#footer table td.right {
  text-align: right;
}



/* ********************************************** */
textarea.text {
  width: 90%; 
  height: 150px;
}

ul.questions li {
  border-bottom:medium none;
  margin-bottom:0.75em;
  padding-bottom:0.75em;
}

.p_content li,
.p_content ul li,
.p_content ol li {
  border: none;
  padding-bottom: 0px;
  margin-bottom: 0;
}

.p_content ul,
.p_content ol {
margin:1em;
padding-left:1.5em;
}

label {
  display:block;
  font-size:13px;
  font-weight:bold;
  line-height:1.7em;
  min-width:150px;
}

label.desc {
  margin-bottom: 5px;
}

input[type=text] {
  border: 1px solid gray;
  padding: 4px;
  width: 200px;
}

select {
  border: 1px solid gray;
  padding: 4px;
}

input.radio {
  float: left;
}

label.choice {
  margin-left: 25px
}

.yesno {
  float: left;
  width: 50px;
}

.yesno label {
  width: 50px;
}

li.incomplete {
  background: url(/images/icons/flag-yellow.png) no-repeat 95% 50%;
}

li.complete {
  background: url(/images/icons/flag-green.png) no-repeat 95% 50%;
}

/* ***************************** */
/* Grid Table */

table.grid {
  width: 100%;
}

table.grid th {
  text-transform: capitalize;
}

table.grid label {
  min-width: 0px;
}

#preview button {
  background:none repeat scroll 0 0 transparent;
  border:medium none;
  cursor:pointer;
  font-family:Arial;
  -moz-border-radius:5px 5px 5px 5px;
  background:url("/images/buttonbg.png") repeat-x scroll 0 0 transparent;
  border:1px solid #999999;
  font-size:14px;
  font-weight:bold;
  padding:5px 13px;
  margin-bottom: 10px;
}

#preview button:hover {
  -moz-box-shadow: 0 0 5px #999;
}

#preview button span {
}

.level1 {
  margin-left: 30px
}

ul.level1 li {
  border: none;
  margin: 0;
  padding-bottom: .5em
}

h4 {
  display:block;
  font-size:18px;
  margin: 0.5em 0 1em;
}

.col2,
.col3,
.col4,
.col5,
.col6 {
  text-align: center;
}

.col2 input[type=radio],
.col3 input[type=radio],
.col4 input[type=radio],
.col5 input[type=radio],
.col6 input[type=radio] {
  float: none;
}

#legend {
  font-size: 11px;
  margin: 0 0 0 5px;  
  line-height: 2em
}

#legend img {
  vertical-align: middle;
}

ul#list-pages {
  list-style:none outside none;
  margin:10px 0 0;
  padding:0;
}

ul.questions li.section {
  padding-bottom: 0;
}
