#headwrap,
#footerwrap {
  width: 1000px;
  margin: 0 auto;
  padding: 0;
}

#header {
  padding: 0;
  border: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: none;
  margin-top: 20px;
  border-bottom: 3px solid #000;
}

#preview {
  border-color: #421f07;
  min-height: 500px;
}

#list-pages li.active a {
  border-color: #421f07;
}

a {
  color: #a23910;
}

#footer table {
  width: 100%;
}

#footer table td.left {
  text-align: left;
}

#footer table td.right {
  text-align: right;
}



/* ********************************************** */
textarea.text {
  -moz-box-shadow:0 0 10px #C9C9C9;
  -webkit-box-shadow:0 0 10px #C9C9C9;
  box-shadow:0 0 10px #C9C9C9;
  border:1px solid #999999;
  height:100px;
  width:65%;
}

ul.questions li {
  border-bottom:medium none;
  margin-bottom:0.75em;
  padding-bottom:0.75em;
}

.p_content li,
.p_content ul li,
.p_content ol li {
  border: none;
  padding-bottom: 0px;
  margin-bottom: 0;
}

.p_content ul,
.p_content ol {
margin:1em;
padding-left:1.5em;
}

label {
  display:block;
  font-size:13px;
  font-weight:normal;
  line-height:1.5em;
  min-width:150px;
}

label.desc {
  margin-bottom: 5px;
}

label.gridname {
  font-weight: bold;
  font-size: 14px;
}

input[type=text] {
  border: 1px solid gray;
  padding: 4px;
  width: 200px;
}

select {
  border: 1px solid gray;
  padding: 4px;
  max-width: 300px;
}

input.radio {
  float: left;
}

label.choice {
  margin-left: 25px
}

.yesno {
  float: left;
  width: 50px;
}

.yesno label {
  width: 50px;
}

li.incomplete {
  background: url(/images/icons/flag-yellow.png) no-repeat 95% 50%;
}

li.complete {
  background: url(/images/icons/flag-green.png) no-repeat 95% 50%;
}

/* ***************************** */
/* Grid Table */

table.grid {
  width: 100%;
}

table.grid th {
  text-transform: capitalize;
}

table.grid label {
  min-width: 0px;
}

#preview button {
  background:none repeat scroll 0 0 transparent;
  border:medium none;
  cursor:pointer;
  font-family:Arial;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  border-radius:5px 5px 5px 5px;
  background:url("/images/buttonbg.png") repeat-x scroll 0 0 transparent;
  border:1px solid #999999;
  font-size:14px;
  font-weight:bold;
  padding:5px 13px;
  margin-bottom: 10px;
}

#preview button:hover {
  -moz-box-shadow: 0 0 5px #999;
  -webkit-box-shadow: 0 0 5px #999;
  box-shadow: 0 0 5px #999;
}

#preview button span {
}

.level1 {
  margin-left: 30px
}

ul.level1 li {
  border: none;
  margin: 0;
  padding-bottom: .5em
}

h4 {
  border-top:1px solid gray;
  color:#411E08;
  display:block;
  font-size:16px;
  margin:0.5em 0 1em;
  padding-top:13px;
}

.row h4 {
  width: 690px;
}

table.grid .col {
  text-align: center;
}

table.grid .col input[type=radio] {
  float: none;
}

table.grid label {
  font-size:12px;
  font-weight:normal;
  line-height:1.25em;
  margin: 0;
}

table.grid td {
  border-top: 1px dotted silver;
  padding: 4px;
}

table.grid td.hidecell {
  border: none;
  padding: 0;
}

#legend {
  font-size: 11px;
  margin: 0 0 0 5px;  
  line-height: 2em
}

#legend img {
  vertical-align: middle;
}

ul#list-pages {
  list-style:none outside none;
  margin:10px 0 0;
  padding:0;
}

ul.questions li.section {
  padding-bottom: 0;
}


li.questiongrid div.row {
  float: left;
  min-height: 60px;
  margin-right: 10px;
}

#page-name {
  font-size: 20px;
  margin-top: .5em;
}

#page_ajax_spinner {
  position:absolute;
  top:-52px;
  width:1000px;
  
}

#page_ajax_spinner div {
  -moz-box-shadow:0 0 10px #666666;
  -webkit-box-shadow:0 0 10px #666666;
  box-shadow:0 0 10px #666666;
  background:none repeat scroll 0 0 #FFFFFF;
  border:2px solid #411E08;
  color:#411E08;
  margin:0 auto;
  padding:10px;
  text-align:center;
  width:200px;
}

#projectlogo div{
  padding: 0 5px;
}

#projectlogo div img {
  max-width: 270px;
  max-height: 100px;
}


/* ******************** */
/* LOGIN SCREEN */

.authentications { margin-bottom: 30px; }
.authentication {
  float: left;
  background-color: #eeeeee;
  border: solid 1px #999999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
}
.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333333;
  padding: 2px 4px;
  font-size: 10px;
}
.authentication .remove:hover {
  color: #ffffff;
  background-color: #777777;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
.authentication img { float: left; }
.authentication .provider {
  margin-left: 38px;
  margin-right: 20px;
}
.authentication .uid {
  margin-left: 38px;
  margin-right: 20px;
}
.authentication .provider { font-weight: bold; }
.authentication .uid {
  color: #666666;
  font-size: 11px;
}
.auth_provider img { display: block; }
.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
  font-size: 11px;
}

#railslogin {
  float: right;
  width: 610px;
}

#signinwith a img {
  border: none;
}

#signinwith {
  float: left;
  width: 340px;
}