<div id="leftside">
  <h2><%= @person.informal_full_name%></h2>
  School <%= @person.campus %><br/>
  
  <ul id="pagename">
    <li><%= link_to "Evaluator's Summary" %></li>
    <% @presenter.pages.each do |page| %>
      <% if page.has_questions? %>
        <li><%= link_to(page.label) %></li>
      <% end %>
    <% end %>
  </ul>
</div>