<div class="pagepad">
  <h1>Add an Applicant</h1>
  
  <div class="projectedit fullpage">
    <form action="/applicants/55683" method="post"><div style="margin:0;padding:0;display:inline"><input name="_method" type="hidden" value="put" /></div>
    <table width="100%" cellspacing="0" cellpadding="5" border="0">
    
    
    
    <button type="submit" name="commit" value="Save changes" class="save" /><span>Save Changes</span></button>
    
    
    <h3>Personal Information</h3>
    
    <div class="field">
      <label>First Name</label>
      <input id="person_firstName" name="person[firstName]" size="30" type="text" value="David" /> 
    </div>
    
    <div class="field">
      <label>Preferred Name</label>
      <input id="person_preferredName" name="person[preferredName]" size="30" type="text" value="" />
    </div>
    
    <div class="field">
      <label>Last Name</label>
      <input id="person_lastName" name="person[lastName]" size="30" type="text" value="Sudarma" />
    </div>
    
    <div class="field">
    <label>Gender</label>
    <select id="person_gender" name="person[gender]"><option value=""></option>
    <option value="1" selected="selected">Male</option>
    <option value="0">Female</option></select>
    </div>
    
    <div class="field">
    <label>Campus Region</label>
    <select id="person_region" name="person[region]"><optgroup label="None"><option value="" selected="selected"></option></optgroup><optgroup label="Region"><option value="GL">Great Lakes</option>
    <option value="GP">Great Plains</option>
    <option value="MA">Mid-Atlantic</option>
    <option value="MS">MidSouth</option>
    <option value="NC">National Campus Office</option>
    <option value="NE">Northeast</option>
    <option value="NW">Greater Northwest</option>
    <option value="RR">Red River</option>
    <option value="SE">Southeast</option>
    <option value="SW">Pacific Southwest</option>
    <option value="UM">Upper Midwest</option></optgroup></select>
    </div>
    
    <div class="field">
    <label>Designation Number</label>
    <input id="application_designation_number" name="application[designation_number]" size="30" type="text" />
    </div>
    
    <div class="field">
    <label>Current Mailing Address</label>
    <label>Street</label><input id="current_address1" name="current[address1]" size="30" type="text" value="2901 Turnbuckle Cir" />
    <label>Street 2</label><input id="current_address2" name="current[address2]" size="30" type="text" value="" />
    </div>
    
    <div class="multifield">
      <div class="field">
        <label>City</label>
        <input id="current_city" name="current[city]" size="7" type="text" value="Elk Grove" />
      </div>
      
      <div class="field">
        <label>State</label>
        <select id="current_state" name="current[state]">
        <option value=""></option>
        <option value="" selected="selected"></option>
        <option value="" selected="selected"></option>
        <option value="" selected="selected"></option>
        <option value="AL">Alabama</option>
        <option value="AK">Alaska</option>
        <option value="AZ">Arizona</option>
        <option value="AR">Arkansas</option>
        <option value="CA">California</option>
        <option value="CO">Colorado</option>
        <option value="CT">Connecticut</option>
        <option value="DE">Delaware</option>
        <option value="DC">District Of Columbia</option>
        <option value="FL">Florida</option>
        <option value="GA">Georgia</option>
        <option value="HI">Hawaii</option>
        <option value="ID">Idaho</option>
        <option value="IL">Illinois</option>
        <option value="IN">Indiana</option>
        <option value="IA">Iowa</option>
        <option value="KS">Kansas</option>
        <option value="KY">Kentucky</option>
        <option value="LA">Louisiana</option>
        <option value="ME">Maine</option>
        <option value="MD">Maryland</option>
        <option value="MA">Massachusetts</option>
        <option value="MI">Michigan</option>
        <option value="MN">Minnesota</option>
        <option value="MS">Mississippi</option>
        <option value="MO">Missouri</option>
        <option value="MT">Montana</option>
        <option value="NE">Nebraska</option>
        <option value="NV">Nevada</option>
        <option value="NH">New Hampshire</option>
        <option value="NJ">New Jersey</option>
        <option value="NM">New Mexico</option>
        <option value="NY">New York</option>
        <option value="NC">North Carolina</option>
        <option value="ND">North Dakota</option>
        <option value="OH">Ohio</option>
        <option value="OK">Oklahoma</option>
        <option value="OR">Oregon</option>
        <option value="PA">Pennsylvania</option>
        <option value="RI">Rhode Island</option>
        <option value="SC">South Carolina</option>
        <option value="SD">South Dakota</option>
        <option value="TN">Tennessee</option>
        <option value="TX">Texas</option>
        <option value="UT">Utah</option>
        <option value="VT">Vermont</option>
        <option value="VA">Virginia</option>
        <option value="WA">Washington</option>
        <option value="WV">West Virginia</option>
        <option value="WI">Wisconsin</option>
        <option value="WY">Wyoming</option></select>
        </select>
      </div>
      
      <div class="field">
        <label>ZIP&trade;</label>
        <input id="current_zip" name="current[zip]" size="5" type="text" value="95758" />
      </div>
      <div class="clear"></div>
    </div>
    
    <div class="field">
      <label>Home Telephone</label>
      <input id="current_home_phone" name="current[home_phone]" size="30" type="text" value="9163372213" />
    </div>
    
    <div class="field">
      <label>Cell Telephone</label>
      <input id="current_cell_phone" name="current[cell_phone]" size="30" type="text" value="" />
    </div>
    
    <div class="field">
    <label>Email</label>
    <input id="current_email" name="current[email]" size="30" type="text" value="riceguitar@gmail.com" />
    </div>
    
    
    <hr/>
    <h2>Parent&rsquo;s/Emergency Contact Address</h2>
    
    <div class="field">
      <label>Parents&rsquo; Full Names</label>
      <input id="emergency_contactName" name="emergency[contactName]" size="30" type="text" value="John Selma" />
    </div>
    
    <div class="field">
      <label>Street</label>
      <input id="emergency_address1" name="emergency[address1]" size="30" type="text" value="" />
    </div>
    
    <div class="field">
      <label>Street 2</label>
      <input id="emergency_address2" name="emergency[address2]" size="30" type="text" value="" />
    </div>
    
    <div class="multifield">
      <div class="field">
        <label>City</label>
        <input id="emergency_city" name="emergency[city]" size="7" type="text" value="" /> 
      </div>
      
      <div class="field">
        <label>State</label>
        <select id="emergency_state" name="emergency[state]"><option value=""></option>
          <option value="" selected="selected"></option>
          <option value="" selected="selected"></option>
          <option value="" selected="selected"></option>
          <option value="AL">Alabama</option>
          <option value="AK">Alaska</option>
          <option value="AZ">Arizona</option>
          <option value="AR">Arkansas</option>
          <option value="CA">California</option>
          <option value="CO">Colorado</option>
          <option value="CT">Connecticut</option>
          <option value="DE">Delaware</option>
          <option value="DC">District Of Columbia</option>
          <option value="FL">Florida</option>
          <option value="GA">Georgia</option>
          <option value="HI">Hawaii</option>
          <option value="ID">Idaho</option>
          <option value="IL">Illinois</option>
          <option value="IN">Indiana</option>
          <option value="IA">Iowa</option>
          <option value="KS">Kansas</option>
          <option value="KY">Kentucky</option>
          <option value="LA">Louisiana</option>
          <option value="ME">Maine</option>
          <option value="MD">Maryland</option>
          <option value="MA">Massachusetts</option>
          <option value="MI">Michigan</option>
          <option value="MN">Minnesota</option>
          <option value="MS">Mississippi</option>
          <option value="MO">Missouri</option>
          <option value="MT">Montana</option>
          <option value="NE">Nebraska</option>
          <option value="NV">Nevada</option>
          <option value="NH">New Hampshire</option>
          <option value="NJ">New Jersey</option>
          <option value="NM">New Mexico</option>
          <option value="NY">New York</option>
          <option value="NC">North Carolina</option>
          <option value="ND">North Dakota</option>
          <option value="OH">Ohio</option>
          <option value="OK">Oklahoma</option>
          <option value="OR">Oregon</option>
          <option value="PA">Pennsylvania</option>
          <option value="RI">Rhode Island</option>
          <option value="SC">South Carolina</option>
          <option value="SD">South Dakota</option>
          <option value="TN">Tennessee</option>
          <option value="TX">Texas</option>
          <option value="UT">Utah</option>
          <option value="VT">Vermont</option>
          <option value="VA">Virginia</option>
          <option value="WA">Washington</option>
          <option value="WV">West Virginia</option>
          <option value="WI">Wisconsin</option>
          <option value="WY">Wyoming</option>
        </select>
      </div>
      
      <div class="field">
        <label>ZIP&trade;</label>
        <input id="emergency_zip" name="emergency[zip]" size="5" type="text" value="" />
      </div>
      <div class="clear"></div>
    </div>
    
    
    <div class="field">
      <label>Home Telephone</label>
      <input id="emergency_home_phone" name="emergency[home_phone]" size="30" type="text" value="9163372213" />
    </div>
    
    <div class="field">
      <label>Cell Telephone</label>
      <input id="emergency_cell_phone" name="emergency[cell_phone]" size="30" type="text" value="" />
    </div>
    
    <div class="field">
      <label>Email</label>
      <input id="emergency_email" name="emergency[email]" size="30" type="text" value="" />
    </div>
    
    <hr/>
    
    <h3>More Personal Info</h3>
    
    <div class="field">
      <label>Birth Date (mm/dd/yyyy)</label>
    </div>
      
    <div class="field">
      <label>Date became a Christian (mm/dd/yyyy)</label>
    </div>
      
    
    <div class="field">
    <label>Marital Status</label>
    <select id="person_maritalStatus" name="person[maritalStatus]">
      <option value=""></option>
      <option value="D">Divorced</option>
      <option value="M">Married</option>
      <option value="P">Seperated</option>
      <option value="S">Single</option>
      <option value="W">Widowed</option>
    </select>
    </div>
    
    <div class="field">
    <label>University State</label>  
    <select id="person_universityState" name="person[universityState]">
      <option value=" ">Choose a State</option>
      <option value="" selected="selected"></option>
      <option value="AL">Alabama</option>
      <option value="AK">Alaska</option>
      <option value="AZ">Arizona</option>
      <option value="AR">Arkansas</option>
      <option value="CA">California</option>
      <option value="CO">Colorado</option>
      <option value="CT">Connecticut</option>
      <option value="DE">Delaware</option>
      <option value="DC">District Of Columbia</option>
      <option value="FL">Florida</option>
      <option value="GA">Georgia</option>
      <option value="HI">Hawaii</option>
      <option value="ID">Idaho</option>
      <option value="IL">Illinois</option>
      <option value="IN">Indiana</option>
      <option value="IA">Iowa</option>
      <option value="KS">Kansas</option>
      <option value="KY">Kentucky</option>
      <option value="LA">Louisiana</option>
      <option value="ME">Maine</option>
      <option value="MD">Maryland</option>
      <option value="MA">Massachusetts</option>
      <option value="MI">Michigan</option>
      <option value="MN">Minnesota</option>
      <option value="MS">Mississippi</option>
      <option value="MO">Missouri</option>
      <option value="MT">Montana</option>
      <option value="NE">Nebraska</option>
      <option value="NV">Nevada</option>
      <option value="NH">New Hampshire</option>
      <option value="NJ">New Jersey</option>
      <option value="NM">New Mexico</option>
      <option value="NY">New York</option>
      <option value="NC">North Carolina</option>
      <option value="ND">North Dakota</option>
      <option value="OH">Ohio</option>
      <option value="OK">Oklahoma</option>
      <option value="OR">Oregon</option>
      <option value="PA">Pennsylvania</option>
      <option value="RI">Rhode Island</option>
      <option value="SC">South Carolina</option>
      <option value="SD">South Dakota</option>
      <option value="TN">Tennessee</option>
      <option value="TX">Texas</option>
      <option value="UT">Utah</option>
      <option value="VT">Vermont</option>
      <option value="VA">Virginia</option>
      <option value="WA">Washington</option>
      <option value="WV">West Virginia</option>
      <option value="WI">Wisconsin</option>
      <option value="WY">Wyoming</option></select>
      <%= image_tag('spinner.gif', style: 'display:none', id: 'spinner_school') %>
      <script type="text/javascript">
      //<![CDATA[
      new Form.Element.EventObserver('person_universityState', function(element, value) {new Ajax.Updater('school', '/applicants/ajax_get_schools', {asynchronous:true, evalScripts:true, onLoaded:function(request){Element.hide('spinner_school');}, onLoading:function(request){Element.show('spinner_school')}, parameters:'state=' + escape(value)})})
      //]]>
      
      </script>
    </div>
    
    <div class="field">
      <label>University&rsquo;s Full Name</label>
      <div id="school">
      <select id="person_campus" name="person[campus]"><option value=" " selected="selected">Choose a School</option>
      <option value="Other">Not Listed</option></select></div>
    </div>
    
    Major<input id="person_major" name="person[major]" size="30" type="text" value="" />
    
    Class<input id="person_yearInSchool" name="person[yearInSchool]" size="30" type="text" value="" />
    
    Graduation Date (mm/dd/yyyy)<select id="person_graduation_date_2i" name="person[graduation_date(2i)]">
    <option value=""></option>
    <option value="1">January</option>
    <option value="2">February</option>
    <option value="3">March</option>
    <option value="4">April</option>
    <option value="5">May</option>
    <option value="6">June</option>
    
    <option value="7">July</option>
    <option value="8">August</option>
    <option value="9">September</option>
    <option value="10">October</option>
    <option value="11">November</option>
    <option value="12">December</option>
    </select>
    <select id="person_graduation_date_3i" name="person[graduation_date(3i)]">
    <option value=""></option>
    <option value="1">1</option>
    
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    
    <option value="29">29</option>
    <option value="30">30</option>
    <option value="31">31</option>
    </select>
    <select id="person_graduation_date_1i" name="person[graduation_date(1i)]">
    <option value=""></option>
    <option value="1990">1990</option>
    <option value="1991">1991</option>
    <option value="1992">1992</option>
    <option value="1993">1993</option>
    
    <option value="1994">1994</option>
    <option value="1995">1995</option>
    <option value="1996">1996</option>
    <option value="1997">1997</option>
    <option value="1998">1998</option>
    <option value="1999">1999</option>
    <option value="2000">2000</option>
    <option value="2001">2001</option>
    <option value="2002">2002</option>
    
    <option value="2003">2003</option>
    <option value="2004">2004</option>
    <option value="2005">2005</option>
    <option value="2006">2006</option>
    <option value="2007">2007</option>
    <option value="2008">2008</option>
    <option value="2009">2009</option>
    <option value="2010">2010</option>
    <option value="2011">2011</option>
    
    <option value="2012">2012</option>
    <option value="2013">2013</option>
    <option value="2014">2014</option>
    <option value="2015">2015</option>
    </select>
    
    
    
    
    Availability for project and Forms
    Earliest Available Date (mm/dd/yyyy)<input id="application_available_date" name="application[available_date]" size="30" type="text" value="" />
    
    Date Must Leave For School (mm/dd/yyyy)<input id="application_return_date" name="application[return_date]" size="30" type="text" value="" />
    
    
    
    <div class="field">Citizenship
    US citizen<select id="person_usCitizen" name="person[usCitizen]"><option value="false">No</option>
    <option value="true" selected="selected">Yes</option></select>
    If Not, which country<input id="person_citizenship" name="person[citizenship]" size="30" type="text" value="" /></div>
    
    
    <button type="submit" name="commit" value="Save changes" class="save" /><span>Save Changes</span></button>
  
    </form>
  
  
    <div class="clear"></div>
  </div>
</div>
