<div class="hybriddrop hybriddropinline">
  <div class="dropdowncontents" id="yeardrop">
  <%= link_to(@year, '#', :class => 'down withicon', :id => "changeyear") %>
    <ul id="year_list">
      <% @project.year.downto(2005) do |year| %>
        <li><%= link_to(year, params.dup.merge!({:year => year})) %></li>
      <% end %>
    </ul>
  </div>
  <h1><%= @project %></h1>
</div>