<%# encoding: utf-8 %>

<p class="legend">
  Fields with the <%= image_tag('required.png') %> are required.
</p>

<p>
  When your students get issued a designation number, we will also set them up with a personal fund-raising page on
  give.cru.org. In order to make it easier for students to set up their sites and increase their chances of success,
  we will pre-fill the website with the content that you as the team leader provide.
</p>
<p>
  The Description of your mission that you enter here will appear on their student give page, and the photo you have
  uploaded on the gosp.com tab will also appear.  Students will automatically receive an email with instructions for
  how to edit their give page when they receive their designation #.
</p>
<p>
  For the best formatting, make sure that you enter the text by typing, not by cutting and pasting.
</p>

<hr />

<div class="field required">
  <%= f.label :full_project_description, 'Full Project Description: Longer description of your project.' %>
  <%= f.text_area :full_project_description, rows: 20, cols: 80 %>
</div>

<button type="submit" class="save"><span>Save</span></button>
