<div class="pagepad">
  <div id="breadcrumb">
    <ul>
      <li><%= link_to('Projects', admin_projects_path) %></li>
      <li class="last">New Project</li>
    </ul>
  </div>
  
  <h1>New Project</h1>
  
  <div class="projectedit fullpage">
    <%= form_for @project, :url => admin_projects_path, :html => {:multipart => true} do |f| %>  
      <%= render 'form', :f => f %>
    <% end %>
    <div class="clear"></div>
  </div>
</div>
