<div class="pagepad">
  It looks like you are not currently staffing or leading any projects. If we're wrong about that, please contact your regional coordinator or director and ask them to add you.
  <br/><br/>
  For other questions, please email <%= mail_to('gosummerproject@uscm.org') %>
</div>