<div class="pagepad">
  <% form_tag do %>
    Search for projects that start between the following dates:
    <br />
    <%= text_field_tag :start, 1.month.ago.to_date.to_s(:db), 'data-calendar' => true %> and
    <%= text_field_tag :end, Date.today.to_s(:db), 'data-calendar' => true %>
    <%= submit_tag 'Download' %>
  <% end %>
</div>