<div class="project-box tile clear">
  <% if @searched && @projects.blank? %>
    <h4 style="color:red">None of the missions meeting the criteria you selected are currently accepting applications. Please try a different criteria.</h4>
  <% end %>
  <h1>Please select a mission you'd like to apply for:</h1>

  <% if @projects.blank? %>
      <%= render :partial => 'all' %>
  <% else %>


      <div class="project-listings clear">
        <%
           p1 = @projects[0..(@projects.length/2 -1)]
           p2 = @projects[@projects.length/2..-1]

           [p1, p2].each do |project_block| %>
            <div class="one-half">
              <ul class="locations">
                <% project_block.each do |project| %>
                    <li><%= link_to(project.to_s, apply_applications_path(:p => project.id)) %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
      </div>
  <% end %>
</div>

<!-- TODO: Put each listing category in a tile -->