<div class="pagepad reportpage">
  <%= link_to("<< Back to all reports", admin_reports_path) %><br />
  <%= link_to("<< Back to national coordinator report list", national_admin_reports_path) %>

  <h1>All Applicaitons</h1>
  <div id="applications">
    <%= render 'applications' %>
  </div>
</div>

