<div class="pagepad reportpage">
  <%= link_to("<< Back to all reports", admin_reports_path) unless sp_user.is_a?(SpDirector)%><br />
  <%= link_to("<< Back to report list", director_admin_reports_path) %>
  <h1>Male application openings</h1>
  <p><%= link_to "Download", male_openings_admin_reports_path(:format => 'csv') %></p>
  <%= render 'openings', :gender => 'men' %>
</div>
