<div class="pagepad reportpage">
  <h1>Reports</h1>
  <div id="dashboardlist" class="dashboardlist">
    <ul>
      <li><%= link_to('Director Reports', director_admin_reports_path) %></li>
      <li><%= link_to('Regional Coordinator Reports', regional_admin_reports_path) %></li>
      <li><%= link_to('National Coordinator Reports', national_admin_reports_path) %></li>
    </ul>
  </div>
</div>
