<div class="pagepad reportpage">
  <%= link_to("<< Back to all reports", admin_reports_path)%><br />
  <%= link_to("<< Back to national coordinator report list", national_admin_reports_path) %>
  <h1>Total number of applicants to other ministry SPs</h1>
  <%= render 'total_num_applicants' %>
</div>
