<div class="pagepad reportpage">
  <%= link_to("<< Back to all reports", admin_reports_path)%><br />
  <%= link_to("<< Back to national coordinator report list", national_admin_reports_path) %>
  <h1>Total number of participants by region</h1>
  <p>This shows how many students that attend school in each region when on a Summer Project, even if it was a project sponsored by another region or ministry.</p>
  <%= render 'total_num_applicants' %>
</div>
