<table>
  <tr>
    <th>Accepteduas Participant</th>
    <th>Accepted as Student Staff</th>
    <th>Ready</th>
    <th>Submitted</th>
    <th>Unsubmitted</th>
    <th>Started</th>
    <th>Withdrawn (Accepted as Participant)</th>
    <th>Withdrawn (Accepted as Student Staff)</th>
    <th>Withdrawn (Ready)</th>
    <th>Withdrawn (Submitted)</th>
    <th>Withdrawn (Unubmitted)</th>
    <th>Withdrawn (Started)</th>
    <th>Declined</th>
  </tr>
</table>
