.qe {
  position: relative;
  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.25em;
  }

  p {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.25em;
    margin-bottom: 1em;
  }

  .clear {
    clear: both;
  }

  #wrapper {
    width: 1000px;
    margin: 0 auto;
    background: none;
  }

  #status {
    height: 100%;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    z-index: 10000;
  }

  .status_content {
    -webkit-box-shadow: 0 0 15px #000000;
    -moz-box-shadow: 0 0 15px #000000;
    box-shadow: 0 0 15px #000000;
    background: none repeat scroll 0 0 #6699CC;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    margin: 92px auto;
    padding: 40px;
    width: 121px;
    text-align: center;
  }

  #status-msg {
    display: block;
    margin: 10px 0 0 0;
  }

  p.instruction {
    margin: 10px 10px 10px 0;
  }

  ul#list-pages {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
  }

  #list-pages li {
    a {
      background: image-url("/assets/qe/icons/document--pencil.png") no-repeat 4px 50%;
      padding: 8px 0 8px 24px;
      border-bottom: 1px dashed #ccc;
      display: block;
      margin-right: 8px;
    }
    &.active {
      background-color: #fff;
      a {
        border-bottom: 1px dashed #e51937;
        border-right: none;
      }
    }
  }

  #link-page-add {
    background: #f0f0f0 image-url("/assets/qe/icons/add.png") no-repeat 4px 50%;
    padding: 5px 0 5px 24px;
    display: block;
    margin-right: 8px;
    font-size: 11px;
    font-weight: bold;
  }

  ul#nav-controls {
    list-style: none;
    padding: 0;
    margin: 0 8px 0 0;
    border-bottom: 3px solid #0B486B;
    li {
      float: left;
      margin-right: 2px;
      a {
        padding: 8px 10px;
        background: #F2F2F2;
        -moz-border-radius: 4px 4px 0 0;
        display: block;
      }
      &.active a {
        background: #0B486B;
        color: #fff;
      }
      a:hover {
        background: #0B486B;
        color: #fff;
        background: #2f7eab;
      }
    }
  }

  .help {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: none repeat scroll 0 0 #0B486B;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    padding: 1px 4px;
  }

  .list-elements {
    li a {
      background-color: #F5F5F5;
      background-position: 4px 50%;
      background-repeat: no-repeat;
      border: 1px solid silver;
      display: block;
      float: left;
      margin-bottom: 4px;
      margin-right: 8px;
      padding: 2px 5px 2px 23px;
      width: 107px;
    }
    #qg a, #qgt a {
      background-image: image-url("/assets/qe/icons/table.png");
    }
    #sl a, #ml a {
      background-image: image-url("/assets/qe/icons/textfield.png");
    }
    #co a {
      background-image: image-url("/assets/qe/icons/radio.png");
    }
    #cm a {
      background-image: image-url("/assets/qe/icons/checkbox.png");
    }
    #dt a {
      background-image: image-url("/assets/qe/icons/calendar_view_day.png");
    }
    #fu a {
      background-image: image-url("/assets/qe/icons/disk.png");
    }
    #pa a {
      background-image: image-url("/assets/qe/icons/text_align_left.png");
    }
    #sp a {
      background-image: image-url("/assets/qe/icons/text_horizontalrule.png");
    }
    #sk a {
      background-image: image-url("/assets/qe/icons/book_open.png");
    }
    #pp a {
      background-image: image-url("/assets/qe/icons/asterisk_yellow.png");
    }
    #sc a {
      background-image: image-url("/assets/qe/icons/map_magnify.png");
    }
    #at a {
      background-image: image-url("/assets/qe/icons/paper-clip.png");
    }
    #ref a {
      background-image: image-url("/assets/qe/icons/book-open-list.png");
    }
  }

  li {
    &.element {
      border: 1px dashed silver;
      margin-bottom: 8px;
      background: #fff;
    }
    &.ui-sortable-helper {
      -moz-box-shadow: 0px 0px 12px #555;
      -webkit-box-shadow: 0px 0px 12px #555;
      box-shadow: 0px 0px 12px #555;
    }
    &.element {
      &:hover {
        background: #EBFCEB;
      }
      &.active {
        background: #FFFED2;
        &:hover {
          background: #FFFED2;
        }
      }
      .q {
        padding: 10px;
        min-height: 21px;
        .element {
          margin-left: 35px;
        }
      }
      .q_form {
        display: none;
      }
    }
  }

  span.required {
    background: image-url("/assets/qe/icons/star-small.png") no-repeat 50% 50%;
    display: inline-block;
    height: 16px;
    text-indent: -10000px;
    width: 16px;
  }

  label {
    min-width: 150px;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    display: block;
    &.desc {
      margin-bottom: 10px;
    }
  }

  ul.questions ul.questions label.desc {
    margin-bottom: 0;
    font-weight: normal;
  }

  .field, ul.questions li {
    margin-bottom: .5em;
  }

  .field label {
    font-weight: normal;
  }

  .field_check input {
    &[type=checkbox], &[type=radio] {
      float: left;
    }
  }

  .choice_field.error  {
    padding: 3px 10px;
    border: 1px solid #ffc5c2;
    border-radius: 5px;
    background: #ffe6e5;
    label .error {
      display: none;
    }
  }

  div.p_content {
    p {
      margin-bottom: 1em;
    }
    ul {
      list-style: disc;
      li {
        list-style-type: disc;
      }
    }
    ol {
      list-style: decimal;
      margin: 0;
      padding: 0 0 0 2em;
      li {
        list-style: decimal;
        margin-bottom: .5em;
      }
    }
  }

  .buttons {
    padding: 10px 0;
    border-top: 1px solid gray;
    button {
      -moz-border-radius: 4px 4px 4px 4px;
      -webkit-border-radius: 4px 4px 4px 4px;
      border-radius: 4px 4px 4px 4px;
      background: none repeat scroll 0 0 #0B486B;
      border: 1px solid #0B486B;
      color: #FFFFFF;
      font-size: 14px;
      font-weight: bold;
      padding: 5px 10px;
      font-family: Arial;
      cursor: pointer;
      &:hover {
        -moz-box-shadow: 0px 0px 5px #999;
      }
    }
  }

  .sub_q {
    clear: both;
    margin-top: 15px;
  }

  .controls {
    -moz-box-shadow: 0 0 5px #CCCCCC;
    -webkit-box-shadow: 0 0 5px #CCCCCC;
    box-shadow: 0 0 5px #CCCCCC;
    background: none repeat scroll 0 0 #EFEFEF;
    border: 1px solid silver;
    float: right;
    margin: 5px;
    padding: 4px 5px 4px 0;
  }

  ul.questions li .controls li {
    float: left;
    margin-bottom: 0;
  }

  .controls {
    li a {
      text-indent: -10000px;
      overflow: hidden;
      display: block;
      height: 16px;
      width: 16px;
      margin-left: 5px;
    }
    .edit {
      background: image-url("/assets/qe/icons/document--pencil.png") no-repeat 50% 50%;
    }
    .duplicate {
      background: image-url("/assets/qe/icons/document-copy.png") no-repeat 50% 50%;
    }
    .handle {
      background: image-url("/assets/qe/icons/arrow-move.png") no-repeat 50% 50%;
    }
    .remove {
      background: image-url("/assets/qe/icons/arrow_out.png") no-repeat 50% 50%;
    }
  }

  #question_modal {
    font-family: Arial;
  }

  #questions_div {
    ul {
      border: 1px solid silver;
      font-family: Arial;
      height: 220px;
      overflow: auto;
      padding: 8px;
      li {
        font-size: 12px;
        line-height: 24px;
        min-height: 25px;
        a {
          cursor: pointer;
          label {
            cursor: pointer;
          }
        }
      }
    }
    label {
      display: block;
      font-size: 12px;
      font-weight: normal;
      margin-left: 60px;
    }
    ul li a span {
      -moz-border-radius: 4px 4px 4px 4px;
      -webkit-border-radius: 4px 4px 4px 4px;
      border-radius: 4px 4px 4px 4px;
      background: none repeat scroll 0 0 #0B486B;
      color: #FFFFFF;
      float: left;
      font-size: 10px;
      font-weight: bold;
      line-height: 1em;
      margin-right: 10px;
      padding: 5px 4px;
      text-transform: uppercase;
    }
  }

  .add_type, .ui-widget-content a.add_type {
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    background: image-url("/assets/qe/butgrad.png") repeat-x scroll 100% 50% transparent;
    color: #0B486B;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
    padding: 5px 10px;
  }

  table, tr, td {
    text-align: left;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
  }

  .add-link {
    background: image-url("/assets/qe/icons/add.png") no-repeat scroll 4px 50% #f0f0f0;
    display: inline;
    font-size: 11px;
    font-weight: bold;
    margin-right: 8px;
    padding: 5px 5px 5px 23px;
    width: 127px;
  }

  table.list {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
    th {
      border-bottom: 1px dotted silver;
      padding: 5px;
      font-size: 14px;
    }
    td {
      border-bottom: 1px dotted silver;
    }
    tr:hover {
      background: #FFFED2;
    }
  }

  td {
    &.title {
      width: 90%;
      padding: 5px;
    }
    &.actions {
      width: 100px;
      a {
        padding: 2px 10px 2px 20px;
      }
    }
  }

  table.rating {
    text-align: center;
    td {
      min-width: 50px;
    }
  }

  .duplicate {
    background: image-url("/assets/qe/icons/document-copy.png") no-repeat 0% 50%;
  }

  .archive {
    background: image-url("/assets/qe/icons/briefcase.png") no-repeat 0% 50%;
  }

  .delete {
    background: image-url("/assets/qe/icons/minus-button.png") no-repeat 0% 50%;
  }

  #header {
    background: #0B486B;
    padding: 0px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    border-top: 4px solid #000;
    margin-bottom: 20px;
    li {
      a {
        color: #fff;
        padding: 0px;
      }
      float: left;
      &.active a {
        background: #2e7ba7;
        padding: 6px;
        display: block;
      }
    }
  }

  #nav-main {
    margin-left: 5px;
  }

  #footer {
    width: 1000px;
    margin: 20px 0;
    border-top: 4px solid #000;
    padding-top: 20px;
    text-align: right;
  }

  .ui-tooltip {
    -moz-box-shadow: 0 0 9px #555555;
    background: none repeat scroll 0 0 #411E08;
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 12px;
    padding: 25px;
    width: auto;
  }

  .droppable-active {
    min-height: 200px;
    border-width: 4px;
    padding: 4px;
    margin: -8px;
  }

  .inlinecheck {
    float: left;
    margin-right: 5px;
  }

  .submission_errors {
    &:before {
      font-family: FontAwesome;
      display: inline-block;
      font-weight: 400;
      line-height: 100%;
      content: "\f071";
      color: #ffc5c2;
      position: absolute;
      bottom: -.18em;right:-.18em;
      font-size: 4.5em;
      width: auto;
      -webkit-transform: rotate(-20deg);
      -moz-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
      -o-transform: rotate(-20deg);
      transform: rotate(-20deg);
      zoom: 1;
    }
    margin: 0 0 1.758em;
    padding: 20px;
    border: 1px solid #ffc5c2;
    color: #424242;
    text-shadow: 0 1px 0 #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #ffe6e5;
    position: relative; overflow: hidden;
    ul {
      color: red;
      font-weight: bold;
    }
  }
}