a {outline: none;}

#headwrap,
#footerwrap {
  width: 1000px;
  margin: 0 auto;
  padding: 0;
}

#header {
  padding: 0;
  border: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: none;
  margin-top: 0px;
  border-bottom: 3px solid #000;
}

#preview {
  border-color: #FFE155;
  min-height: 500px;
  background: #fff;
  color: #444444;
}

#list-pages li.active {
  background: #fff;
}

#projecttitle {
  background:none repeat scroll 0 0 transparent;
  border-bottom:1px solid silver;
  color:#00b057;
  font-size:14px;
  font-weight:bold;
  margin-bottom:1em;
  padding:0 0 10px;
}

#list-pages li.active a {
  border-color: #FFE155;
  color: #444444;
  font-weight: bold;
}

h1 {
  font-size: 20px;
}

a {
  color: #FFE155;
}

.page a {
    color: #00b057;
}

a.successreturn {
  -moz-border-radius:7px 7px 7px 7px;
  -webkit-border-radius:7px 7px 7px 7px;
  border-radius:7px 7px 7px 7px;
  background:none repeat scroll 0 0 #EFEFEF;
  border:1px solid #555555;
  font-size:12px;
  font-weight:bold;
  margin:10px 0;
  padding:5px;
}


#footer table {
  width: 100%;
}

#footer table td.left {
  text-align: left;
}

#footer table td.right {
  text-align: right;
}



/* ********************************************** */
.project-listings {
    display: block;
    width: 1000px;
}
.project-listings .one-half {
    float: left;
    width: 500px;
}
.locations li {
    padding: 2px 0;
}


textarea.text {
  -moz-box-shadow:0 0 10px #C9C9C9;
  -webkit-box-shadow:0 0 10px #C9C9C9;
  box-shadow:0 0 10px #C9C9C9;
  border:1px solid #999999;
  height:100px;
  width:65%;
}

ul.questions li {
  border-bottom:medium none;
  margin-bottom:0.75em;
  padding-bottom:0.75em;
}

.p_content li,
.p_content ul li,
.p_content ol li {
  border: none;
  padding-bottom: 0px;
  margin-bottom: 0;
}

.p_content ul,
.p_content ol {
margin:1em;
padding-left:1.5em;
}

label {
  display:block;
  font-size:13px;
  font-weight:normal;
  line-height:1.5em;
  min-width:150px;
}

label.desc {
  margin-bottom: 5px;
}

label.gridname {
  font-weight: bold;
  font-size: 14px;
}

input[type=text],
input[type=password] {
  border: 1px solid gray;
  padding: 4px;
  width: 200px;
}

input.error[type=text],
input.error[type=password] {
  border: 1px solid red;
  background: #FFEAEA;
  margin-top: -1px;
}

label.error {
  font-size: 11px;
  color: red;
}

select {
  border: 1px solid gray;
  padding: 3px;
  max-width: 300px;
}

li.statechooser select {
  width: 300px;
}

input.radio {
  float: left;
}

label.choice {
  margin-left: 25px;
  min-height: 25px;
  border: 1px solid #fff8e0;
}

.yesno {
  float: left;
  width: 60px;
}

.yesno label {
  width: 30px;
  min-width: 0px;
}

li.incomplete {
  background: url(/assets/icons/flag.png) no-repeat 95% 50%;
}

li.complete {
  /* background: url(/assets/icons/flag-green.png) no-repeat 95% 50%; */
}

/* ***************************** */
/* Payment */

div.payment_question {
  background: #efefef;
  padding: 10px;
  border: 2px solid #999;
  margin-bottom: 1em;
}

ul.list-choices li:focus {
  background: yellow;
}

div.payment_question div.pay_view {
  margin-left: 20px;
}

ul.questions li ul.list-choices li {
  margin-bottom:0;
  padding-bottom:0;
}

tbody#payment_table td {
  padding: 3px;
  width: 25%;
}

p.appfee, p.currpayments {
  font-size: 14px;
  margin-bottom: 0;
}

/* ***************************** */
/* Grid Table */

table.grid {
  width: 100%;
}

table.grid th {
  text-transform: capitalize;
  text-align:center;
}

table.grid label {
  min-width: 0px;
}

table.grid tr.error {
  background: #FFEAEA;
}

table.grid tr.error td {
  color: red;
}

table.grid tr.error label.error {
  display: none;
}

#preview button {
  background:none repeat scroll 0 0 transparent;
  border:medium none;
  cursor:pointer;
  font-family:Arial;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  border-radius:5px 5px 5px 5px;
  background:url("/assets/buttonbg.png") repeat-x scroll 0 0 transparent;
  border:1px solid #999999;
  font-size:14px;
  font-weight:bold;
  padding:5px 13px;
  margin-bottom: 10px;
}

#preview button:hover {
  -moz-box-shadow: 0 0 5px #999;
  -webkit-box-shadow: 0 0 5px #999;
  box-shadow: 0 0 5px #999;
}

#preview button span {
}

.level1 {
  margin-left: 30px
}

ul.level1 li {
  border: none;
  margin: 0;
  padding-bottom: .5em
}

h4 {
  border-top:1px solid gray;
  color:#411E08;
  display:block;
  font-size:16px;
  margin:0.5em 0 1em;
  padding-top:13px;
}

.row h4 {
  width: 690px;
}

table.grid .col {
  text-align: center;
}

table.grid .col input[type=radio] {
  float: none;
}

table.grid label {
  font-size:12px;
  font-weight:normal;
  line-height:1.25em;
  margin: 0;
}

table.grid td {
  border-top: 1px dotted silver;
  padding: 4px;
}

table.grid td.hidecell {
  border: none;
  padding: 0;
}

#legend {
  font-size: 11px;
  margin: 5px 0 0 5px;  
  line-height: 2em;
    color: #ecf0f1;
}

#legend img {
  vertical-align: middle;
}

ul#list-pages {
  list-style:none outside none;
  margin:10px 0 0;
  padding:0;
}

ul.questions li.section {
  padding-bottom: 0;
}


li.questiongrid div.row {
  float: left;
  min-height: 70px;
  min-height: 80px;
  margin-right: 10px;
  border-bottom: 1px solid #fff8e0;
}

#page-name {
  font-size: 20px;
  margin-top: .5em;
}

#page_ajax_spinner {
  position:absolute;
  top:-52px;
  width:1000px;
  
}

#page_ajax_spinner div {
  -moz-box-shadow:0 0 10px #666666;
  -webkit-box-shadow:0 0 10px #666666;
  box-shadow:0 0 10px #666666;
  background:none repeat scroll 0 0 #FFFFFF;
  border:2px solid #411E08;
  color:#411E08;
  margin:0 auto;
  padding:10px;
  text-align:center;
  width:200px;
}

#projectlogo div{
  padding: 0 5px;
}

#projectlogo div img {
  max-width: 270px;
  max-height: 100px;
}


/* ******************** */
/* LOGIN SCREEN */

.authentications { margin-bottom: 30px; }
.authentication {
  float: left;
  background-color: #eeeeee;
  border: solid 1px #999999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
}
.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333333;
  padding: 2px 4px;
  font-size: 10px;
}
.authentication .remove:hover {
  color: #ffffff;
  background-color: #777777;
}
.authentication img { float: left; }
.authentication .provider {
  margin-left: 38px;
  margin-right: 20px;
}
.authentication .uid {
  margin-left: 38px;
  margin-right: 20px;
}
.authentication .provider { font-weight: bold; }
.authentication .uid {
  color: #666666;
  font-size: 11px;
}
.auth_provider img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.auth_provider {
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 10px;
  font-size: 11px;
}

#railslogin {
  text-align: center;
  float: left;
  width: 620px;
  font-size: 13px;
}

#signinwith a img {
  border: none;
}

#signinwith {
  float: right;
  text-align: center;
  width: 350px;
}


.savestatus {
  margin: 2px 0 1em 0;
  color: gray;
}

.savestatus img.spinner {
  margin: 0 0 0 7px;
  vertical-align: middle;
}

#submit_message {
  margin: 2px 0 1em 0;
  color: #FFE155;
  font-weight: strong;
  font-size: 14px;
}


span.servicename {
	font-weight: bold;
	text-decoration: underline;
}

/* **************************** */
/* ERRORS */
/* **************************** */

#errorExplanation {
  border: 1px solid red;
  padding: 10px 15px;
  margin-bottom: 1em;
}

#errorExplanation h2 {
  font-size: 16px;
  margin-top: 0;
}

#errorExplanation ul {
  margin: 0;
  padding: 0 2em;
  list-style: circle;
}

#errorExplanation ul li {
  list-style: disc;
}

.field_with_errors label {
  color: red;
  font-weight: bold;
}

.field_with_errors input {
  border-color: red;
}

button span{
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 8px;
  display: block;
  cursor: pointer;
}

button {
  padding: 0;
  background:url("/assets/buttonbg.png") repeat-x scroll 0 0 transparent;
  border: 1px solid gray;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#globalactions {
  border-top: 3px solid #000;
}

#globalactions ul {
  float: right;
}

#globalactions ul li a {
  padding: 5px 8px;
  background: #000;
  display: block;
}


/* ****************************** */
div.pagepad h2 {
  font-weight: normal;
  font-size: 22px;
}

div.pagepad p {
  font-size: 14px;
}

#progressbox {
  float: left;
  width: 290px;
  padding: 10px 12px;
  background: #faffce;
  border: 2px solid #a2b400;
}

#progressbox h2 {
  color: #a2b400;
  margin-top: .4em;
  font-size: 18px;
  font-weight: bold;
}

#projectsummary {
  float: right;
  width: 610px;
  background: #fbf9ed;
  padding: 10px 12px;
}

#projectsummary h2 {
  color: #411E08;
  margin-top: .4em;
  font-size: 18px;
  font-weight: bold;
}

table.statuswait {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
}

table.statuswait td{
  padding: 3px;
  border-collapse: collapse;
}

table.statuswait td img {
  vertical-align: middle;
  border: none;
}

table.statuswait td.fieldname {
  width: 135px;
  vertical-align: top;
}

table.statuswait td.fieldbold {
  font-weight: bold;
}

table.statuswait td.divide{
  background: 0 50% url("/assets/line.png") repeat-x;
  padding: 10px 0;
}

#projectsummary table.statuswait td.fieldname {
  width: 210px;
}

div.pagepad {
  padding: 0 15px;
}

a.applydiff {
	float: right;
	background: #5ACFED;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin-top:-4px;
	padding:4px 8px;
    color: #ffffff;
}
#ui-datepicker-div {
    display:none;
}