<div id="<%= params[:type] %>">


  <% if params[:type] == 'director' %>
    To add a new director, go to the project screen and add them as a PD, OPD or Coordinator
  <% else %>
  <div id="contextmenu" style="margin: 1em 0;">
    <ul class="left">
      <li style="line-height: 1em;"><%= link_to("Add a new #{@role}", '#', 'data-type' => params[:type], 'data-role' => @role, :class => 'person withicon add-user') %></li>
    </ul>  
    <div class="clear"></div>
  </div>
  
  
  <% end %>
  <table class="people manageusers">
    <thead>
      <tr>
        <th class="gender"></th>
        <th class="name">Name</th>
        <th class="email"></th>
        <th>Last Login</th>
    		<th></th>
      </tr>
    </thead>
    <tbody id="<%= params[:type] %>_rows">
      <%= render partial: 'user', collection: users %>
  	</tbody>
  </table>
</div>
