<div id="<%= params[:type] %>">
  <% if params[:type] == 'director' %>
    To add a new director, go to the project screen and add them as a PD, APD, OPD or Coordinator
  <% else %>
    <%= link_to("Add a new #{@role}", '#', 'data-type' => params[:type], 'data-role' => @role, :class => 'add-user') %>
  <% end %>
  <table class="people">
    <thead>
      <tr>
        <th class="gender"></th>
        <th class="name">Name</th>
        <th class="email"></th>
        <th>Last Login</th>
    		<th></th>
      </tr>
    </thead>
    <tbody id="<%= params[:type] %>_rows">
    	<% users.each do |user| %>
        <%= render 'user', :user => user %>
    	<% end %>
  	</tbody>
  </table>
</div>